<!-- 2023-11-01 3.week7 -->

<h1>ユーザホーム</h1>

<dl>
    <dt>氏名</dt>
    <!-- ASPタグ -->
        <dd>
        </dd>

    <dt>出身地</dt>
        <dd>
        </dd>

    <dt>趣味</dt>
        <dd>
            <ul>      
            </ul>
        </dd>
</dl>

<div class="mt-3">
    <a class="btn btn-outline-primary" href="/user/logout">ログアウト</a>
</div>

